body{
	text-align:center;
	color:black;
	background-image: url(../images/wik.jpg);
	background-repeat:no repeat;
	background-size:cover;
}

a {
	text-decoration:none;
 }
 
 p{
	 font-family:Constantia;
	 font-size: 20px;
	 text-align:justify;
	 margin:10px;
 }
 
 h3{
	 font-family:cooper black;
	 font-size: 70px;
	 margin-top: 10px;
 }

.main-header {
	 font-family: cambria;
	 font-size: 40px;
	 margin-bottom:6px;
	 margin-top: 5px;

 }
 
 
 .showcase{
	 margin-right:23px;
	margin-left:6px;
	 
 }
 
 }
 
 /* MAIN ARTICLE SECTION */
 
 .main-article{
	 text-align: center;
	 display:grid;
	 grid-template-columns: 1fr 1fr ;
	 grid-template-rows: 1fr ;
 }
 
 .one{
	 text-align: center;
	 display:grid;
	 grid-gap:50px;
	 grid-template-columns: 1fr 3fr;
	 padding: 0 60px 0 0;
	 margin-right: 10px;
	 margin-left: 10px;
	 margin-top: 0px;
	 margin-bottom:140px; 
	 grid-column:2/3;
	 grid-row:2/3;
 }
 
 .title1{
	 text-align: center;
	 font-size:23px;
 }
 
 .one p{
	 margin-top:0px;
	 margin-bottom:50px;
	 font-size:19px;
 }
 
 .one a{
	 margin-top:15px;
	 margin-bottom: 10px;
	 
 }

 
 .two {
	 background-color: rosybrown;
	 display:grid;
	 grid-gap:2px;
	 grid-template-columns: 2fr 0fr;
	 margin-right: 10px;
	 margin-left: 10px;
	 margin-top:1px;
	 margin-bottom:2px;
	 grid-column:1/4;
	 grid-row:2/3;
 }
 
.two p{
	 margin-top:0px;
	 margin-bottom:15px;
 }
 

 

 
 
 